
@{
    List<WebApplication2.ViewModel.UserView> users = ViewBag.Users;
    List<WebApplication2.ViewModel.BookView> books = ViewBag.Books;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Book</th>
            <th scope="col">Creation date</th>
            <th scope="col">Period</th>
            <th scope="col">Return date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Orders)
        {
            string user = users.Where(u => u.Id == item.UserId).First().FIO;
            string book = books.Where(b => b.Id == item.BookId).First().Title;
            <tr>
                <td scope="row">@user</td>
                <td scope="row">@book</td>
                <td scope="row">@item.CreationDate</td>
                <td scope="row">@item.Period</td>
                @if (@item.ReturnDate != @item.CreationDate)
                {
                    <td scope="row">@item.ReturnDate</td>
                }
                else
                {
                    <td scope="row">@Html.ActionLink("Send notification", "SendEmail", "Order", new { id = @item.Id }, null)</td>
                }
                <td scope="row">@Html.ActionLink("Edit order", "Edit", "Order", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Delete order", "Delete", "Order", new { id = @item.Id }, null)</td>
            </tr>
        }
</table>
