
@*@model List<WebApplication2.Entities.Orders>*@
@model IEnumerable<WebApplication2.Entities.Orders>


@Html.ActionLink("Создать", "EditOrCreateOrder", "Order")
<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Дата взятия книги</th>
            <th scope="col">Дата возвращения книги</th>
            <th scope="col">Книга</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td scope="row">@item.Id</td>
                <td scope="row">@item.Users.FIO </td>
                <td scope="row">@item.CreateDate</td>
                <td scope="row">@item.ReturnDate</td>
                <td scope="row">@item.BookName</td>
                

                <td scope="row">@Html.ActionLink("Edit", "EditOrCreateOrder", "Order", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Delete", "Delete", "Order", new { id = @item.Id }, null)</td>
            </tr>

        }
    </table>