@*@{
        ViewBag.Title = "Index";
        List<WebApplication2.ViewModel.UserView> users = ViewBag.Users;
        List<WebApplication2.ViewModel.BookView> books = ViewBag.Books;
    }
    @Html.ActionLink("Create order", "Edit")
    <h2>Orders</h2>
    <div style="display:inline-block; margin-left:50px;">
        @Html.ActionLink("Get list of deadlines", "FileDeadline")
    </div>


    <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Книга</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Период</th>
                    <th scope="col">Дата возврата книги</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Orders)
                {
                    string user = users.Where(u => u.Id == item.UserId).First().FIO;
                    string book = books.Where(b => b.Id == item.BookId).First().Title;
                    <tr>
                        <td scope="row">@user</td>
                        <td scope="row">@book</td>
                        <td scope="row">@item.CreationDate</td>
                        <td scope="row">@item.Period</td>
                        @if (@item.ReturnDate != @item.CreationDate)
                        {
                            <td scope="row">@item.ReturnDate</td>
                        }
                        else
                        {
                            <td scope="row">@Html.ActionLink("Send notification", "SendEmail", "Order", new { id = @item.Id }, null)</td>
                        }
                        <td scope="row">@Html.ActionLink("Edit order", "Edit", "Order", new { id = @item.Id }, null)</td>
                        <td scope="row">@Html.ActionLink("Delete order", "Delete", "Order", new { id = @item.Id }, null)</td>
                    </tr>
                }
        </table>*@

@{
    ViewBag.Title = "Index";
    List<WebApplication2.ViewModel.UserView> users = ViewBag.Users;
    List<WebApplication2.ViewModel.BookView> books = ViewBag.Books;
}

@Html.ActionLink("Создать заказ", "Edit")

<div style="display:inline-block; margin-left:50px;">

    @Html.ActionLink("Скачать список должников" , "FileDeadline", "Order")
</div>

<div>
 
    <label>Сортировать:  </label>
    <select id="sort">
        <option value="None">None</option>
        <option value="Period">Period</option>
    </select>
</div>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $("#sort").change(function () {
        console.log("lkf");
        $.ajax({
            url: '@Url.Action("Index")',
            method: 'GET',
            data: {
                sort: $("#sort").val()
            },
            success: function (data) {
                $("#orderList").html(data);
            }
        })
    })
</script>

<div id="orderList">
    @Html.Partial("Partial/OrderPartialView")
</div>
