
@*@model List<WebApplication2.Entities.Orders>*@
@*@model IEnumerable<WebApplication2.Entities.Orders>*@

@model WebApplication2.ViewModel.BookView


@Html.ActionLink("Создать", "Edit", "Order")

<div style="display:inline-block; margin-left:50px;">
    @Html.ActionLink("Get list of deadlines", "FileDeadline")
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Дата взятия книги</th>
            <th scope="col">Дата возвращения книги</th>
            <th scope="col">Книга</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.Orders)
            {
        <tr>
            <td scope="row">@item.Id</td>
            <td scope="row">@item.Users.FIO </td>
            <td scope="row">@item.CreateDate</td>
            <td scope="row">@item.ReturnDate</td>
            <td scope="row">@item.BookName</td>

            @if (@item.ReturnDate != @item.CreationDate)
            {
                <td scope="row">@item.ReturnDate</td>
            }
            else
            {
                <td scope="row">@Html.ActionLink("Send notification", "SendEmail", "Order", new { id = @item.Id }, null)</td>
            }

            <td scope="row">@Html.ActionLink("Edit", "Edit", "Order", new { id = @item.Id }, null)</td>
            <td scope="row">@Html.ActionLink("Delete", "Delete", "Order", new { id = @item.Id }, null)</td>
        </tr>

        }
    </table>