
@model List<WebApplication2.Authors>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Создать", "CreateOrEdit", "Author")
<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.FirstName</th>
                <th scope="row">@item.LastName</th>
                <td scope="row">@Html.ActionLink("Edit author", "CreateOrEdit", "Author", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Delete", "Delete", "Author", new { id = @item.Id }, null)</td>
            </tr>

        }
    </table>
