@model WebApplication2.ViewModel.AuthorView

<link href="~/Content/style.css" rel="stylesheet" />

<div class="btn_create">
    @Ajax.ActionLink("Создать автора", "Edit", new { id = 0 }, new AjaxOptions { UpdateTargetId = "edit_author" })
</div>


@{
    ViewBag.Title = "Index";
    List<WebApplication2.ViewModel.AuthorView> authors = ViewBag.Authors;
}


@Html.Partial("ViewAuthor", Model)




@*<div class="btn_create">
        @Html.ActionLink("Создать", "Edit", "Author")

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in ViewBag.Authors)
                {
                <tr>
                    <th scope="row">@item.FirstName</th>
                    <th scope="row">@item.LastName</th>
                    <td scope="row">@Html.ActionLink("Редактировать", "Edit", "Author", new { id = @item.Id }, null)</td>
                    <td scope="row">@Html.ActionLink("Удалить", "Delete", "Author", new { id = @item.Id }, null)</td>
                </tr>

            }
        </table>*@


@*@Html.ActionLink("Create author", "Edit")*@



@*<button type="button" class="createButton btn btn-primary">Создать</button>")*@



